.section-rea {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15vh;
  background-color: rgb(255, 255, 255);
  padding: 2vh 0vw;
}

.first-tittle-realisation {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  font-size: 100px;
  font-weight: 900;
  color: rgb(230, 230, 230);
  padding: 5px 0px;
  margin: 20vh 0vw 0vh 0vw;
}

.rea-description {
  text-align: center;
  font-weight: 100;
  line-height: 20px;
  margin: 5vh 20vw 0vh 20vw;
}

.rea-description-bis {
  text-align: center;
  font-weight: 100;
  line-height: 20px;
  margin: 1vh 20vw 0vh 20vw;
}

.scred-boutique img {
  height: 100px;
  margin-top: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.all-realisations {
  margin-top: 7vh;
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10vw; */
}

.realisation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
  margin: 40px 0;
}

.visual-album {
  height: 300px;
}
.visual-album:hover {
  opacity: 95%;
}

.box-realisation h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 15px;
}

.box-realisation p {
  color: white;
  background: linear-gradient(-160deg, #50faa8, #000000 50%);
  background-color: #50faa8;
  padding: 3px 10px;
  border-radius: 10px;
  font-style: italic;
  font-size: 16px;
  font-weight: 200;
  margin-top: 5px;
}

.realisation-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

/* ********************************** */
/* ************ Media query ************** */
/* ********************************** */

/* Mobile S/M/L 200 ===> 425 */
@media (min-width: 200px) and (max-width: 425px) {
  .first-tittle-realisation {
    font-size: 40px;
  }

  .description-section {
    margin: 2vh 10vw 1vh 10vw;
  }
}

/* tablette 426 ===> 768 */
@media (min-width: 426px) and (max-width: 768px) {
  .first-tittle-realisation {
    font-size: 50px;
  }

  .description-section {
    margin: 2vh 10vw 1vh 10vw;
  }
}
